.home {
  position: relative;
}
.home-wrapper {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.galeria-wrapper,
.home-wrapper,
.oferta-wrapper {
  flex-shrink: 0;
  justify-content: space-between;
}
.oferta-wrapper {
  width: 33%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.galeria-wrapper {
  width: 25%;
}
.frame-group,
.galeria-wrapper,
.kontakt-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.kontakt-wrapper {
  width: 19.4%;
  flex-shrink: 0;
  justify-content: space-between;
}
.frame-group {
  justify-content: flex-start;
  gap: 9.7em;
}
.div {
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-montserrat);
  color: var(--color-gainsboro);
  text-align: left;
  display: inline-block;
  width: 12.3em;
  height: 1.8em;
  flex-shrink: 0;
}
.frame-parent,
.wrapper {
  position: relative;
  width: 100%;

  text-align: left;
  color: white;
  font-family: Montserrat;
}

/* ---------------------------- navigator ------------------------------------- */

.navigator {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  text-decoration: none;

  background-color: black;
  position: fixed;
  z-index: 10;
  top: 0px;
  width: 100%;
  height: 70px;
  flex-direction: row;
  align-items: center;
  font-size: 20px;
}

.navButtonWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.navButton {
  position: relative;
  cursor: pointer;
  padding: 0px 30px;
  height: 100%;
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.navButton:hover {
  color: rgba(127, 8, 29, 0.7);
}

.phoneWrapper {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  text-decoration: none;
}
.phoneWrapper {
  cursor: pointer;
  border: 0;
  padding: 0 1em;
  background-color: rgba(127, 8, 29, 0.7);
  border-radius: 6px;
  width: 14.3125em;
  height: 2.75em;
  flex-direction: column;
  align-items: flex-end;
}
.frame-parent {
  position: absolute;
  top: 0;
  left: 3.31em;
  width: 84.375em;
  height: 4.64em;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs);
  font-size: var(--font-size-xl);
}
.frame-child {
  position: relative;
  border-top: 2px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 100%;
  height: 0.125em;
}
.line-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.ob-logo-2-2-icon {
  position: relative;
  width: 11em;
  height: 10.06em;
  object-fit: cover;
}
.ostrowscy-band {
  position: relative;
  display: inline-block;
  width: 12.5em;
  height: 1.44em;
  flex-shrink: 0;
}
.est-2002 {
  position: relative;
  text-align: center;
}
.rodzinny-zesp-muzyczny {
  position: relative;
  display: flex;
  align-items: center;
  width: 20.0625em;
  height: 1.44em;
  flex-shrink: 0;
}
.ostrowscy-band-parent {
  width: 20.0625em;
  height: 6em;
  gap: 0.8125em;
}
.ob-logo-2-2-parent,
.ostrowscy-band-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-icon {
  position: relative;
  width: 1.075em;
  height: 1.8375em;
  object-fit: cover;
}
.vector-wrapper {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  cursor: pointer;
}
.vector-icon1 {
  position: relative;
  width: 1.8375em;
  height: 1.8375em;
  object-fit: cover;
  z-index: 0;
}

.vector-icon2,
.vector-icon3 {
  position: absolute;
  margin: 0 !important;
  object-fit: cover;
}
.vector-icon2 {
  height: 44.56%;
  width: 44.56%;
  top: 27.89%;
  right: 27.55%;
  bottom: 27.55%;
  left: 27.89%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  z-index: 1;
}
.vector-icon3 {
  top: 19.39%;
  left: 80.61%;
  width: 0;
  height: 0;
  z-index: 2;
}
.vector-parent {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
  cursor: pointer;
}
.vector-icon4,
.vector-icon5 {
  position: relative;
  width: 2.69375em;
  height: 1.98125em;
  object-fit: cover;
  z-index: 0;
}
.vector-icon5 {
  position: absolute;
  margin: 0 !important;
  top: 0.75em;
  left: 1.125em;
  width: 0.4625em;
  height: 0.525em;
  z-index: 1;
}
.frame-div,
.frame1,
.vector-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.vector-group {
  flex-shrink: 0;
  flex-direction: column;
  position: relative;
  gap: var(--gap-3xs);
  cursor: pointer;
}
.frame-div,
.frame1 {
  flex-direction: row;
  gap: 2.625em;
}
.frame1 {
  width: 20.0625em;
  height: 22.1875em;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  gap: 3.1875em;
}
.kontakt1 {
  position: relative;
  font-weight: 600;
}
.skodowska-17-brask {
  margin: 0;
}
.ostrowscybandgmailcom {
  position: relative;
  text-decoration: underline;
  font-weight: 600;
  color: inherit;
}
.frame3,
.parent {
  height: 12.8125em;
  display: flex;
}

.frame3 {
  width: 21.5em;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 5.5625em;
  margin-left: -12.625em;
}
.parent {
  width: 21.5625em; /* Adjust based on your font size */
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0 0 1px; /* Padding is minimal and might not need conversion */
  box-sizing: border-box;
  color: var(--color-white);
}

.kontakt-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4.9375em; /* Adjust based on your font size */
}
.frame,
.frame2 {
  height: 22.1875em; /* Adjust based on your font size */
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  width: 21.5625em; /* Adjust based on your font size */
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: var(--font-size-5xl);
  color: var(--color-gainsboro);
}
.frame2 {
  width: 21.5625em;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: var(--font-size-5xl);
  color: var(--color-gainsboro);
}
.frame {
  width: 83.5em;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 36.25em;
  color: var(--text-white-222);
}
.frame-item {
  position: relative;
  border-top: 2px solid var(--color-gainsboro);
  box-sizing: border-box;
  width: 84.0625em;
  height: 2px;
}
.created-designed-by-zofia-le-wrapper,
.wszystkie-prawa-zastrzeone-wrapper {
  width: 1343px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.created-designed-by-zofia-le-wrapper {
  text-align: center;
}
.frame-container {
  position: absolute;
  top: 680.875em;
  left: 0.125em;
  width: 90em;
  height: 41.8125em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-size-xl);
}
.plw-1-icon {
  position: relative;
  width: 43em;
  height: 49.875em;
  object-fit: cover;
}

.plw-1-wrapper {
  width: 43em;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.nasza-oferta {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  width: 39.375em;
  flex-shrink: 0;
}

.nasza-oferta-wrapper {
  width: 45.1875em;
  height: 4.9375em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-3xs);
  box-sizing: border-box;
}
.jako-zesp-muzyczny-container {
  position: relative;
  display: inline-block;
  width: 39.4375em;
  flex-shrink: 0;
  cursor: pointer;
}

.jako-zesp-muzyczny-obsuguje-wrapper {
  width: 45.1875em;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  font-size: 30px;
}
.frame-parent1,
.frame-parent2,
.jako-zesp-muzyczny-obsuguje-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.jako-zesp-muzyczny-container {
  position: relative;
  display: inline-block;
  width: 39.4375em;
  flex-shrink: 0;
  cursor: pointer;
}

.jako-zesp-muzyczny-obsuguje-wrapper {
  width: 45.1875em;
  flex-shrink: 0;
  flex-direction: row;
  padding: var(--padding-3xs);
  box-sizing: border-box;
  font-size: 30px;
}
.plw-1-icon1 {
  position: absolute;
  top: 0.0625em;
  left: 0;
  width: 18em;
  height: 27.0375em;
  object-fit: cover;
}

.n-1-icon,
.n-1-icon1,
.plw-1-icon2,
.plw-1-icon3 {
  position: absolute;
  top: 0;
  left: 36em;
  width: 18em;
  height: 27.05em;
  object-fit: cover;
}
.n-1-icon,
.n-1-icon1,
.plw-1-icon3 {
  left: 18em;
  height: 26.975em;
}

.n-1-icon1,
.plw-1-icon3 {
  top: 0.0625em;
  left: 54em;
  height: 27.05em;
}
.n-1-icon1 {
  top: 0;
  left: 72em;
  height: 27.00625em;
}

.plw-1-parent {
  position: relative;
  width: 90em;
  height: 27.1125em;
}
.group-wrapper {
  width: 89.875em;
  height: 27.1125em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.o-nas {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  width: 42.5625em;
  flex-shrink: 0;
}

.heroImage {
  position: relative;
  width: 100%;
  height: calc(100vh - 70px);
  object-fit: cover;
  object-position: top center;
}

.heroTittle {
  position: absolute;
  bottom: 10%;
  left: 10%;
  font-size: 70px;
  font-weight: 400;
}

@media only screen and (max-width: 1300px) {
  .heroTittle {
    font-size: 50px;
  }
}

@media only screen and (max-width: 900px) {
  .heroTittle {
    font-size: 40px;
    left: 0%;
    text-align: center;
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .heroTittle {
    font-size: 30px;
  }
}

/* ---------------------------- Description Section ------------------------------------- */

.decriptionSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: center;
  width: 100%;
}

.logoTopWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.logoTop {
  position: relative;
  width: 207px;
  height: 189px;
  object-fit: contain;
}

.socialWrapper {
  align-items: center;
  display: flex;
  gap: 10px;
  justify-content: space-between;
}

.socialLinkContainer {
  padding: 3px 5px;
}

.socialImages {
  position: relative;
  width: auto;
  height: 35px;
}

.socialLinkContainer {
  padding: 3px 5px;
}

/* ---------------------------- Offer Section ------------------------------------- */

.offerScetion {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  gap: 70px;
  align-items: center;
  justify-content: center;
}

.titleOffer {
  font-weight: 400;
  font-size: 48px;
  margin-bottom: 20px;
  text-align: center;
}

.descriptionOffer {
  font-size: 30px;

  text-decoration: none;
  text-align: center;
}

.descriptionOffer a {
  text-decoration: none;
  color: white;
}

.offerImage {
  position: relative;
  width: auto;
  height: 798px;
  object-fit: cover;
}

@media only screen and (max-width: 900px) {
  .titleOffer {
    font-size: 24px;
  }

  .descriptionOffer {
    font-size: 16px;
  }

  .offerImage {
    height: 500px;
  }
}

@media only screen and (max-width: 500px) {
  .titleOffer {
    font-size: 20px;
  }

  .descriptionOffer {
    font-size: 12px;
  }

  .offerImage {
    height: 400px;
  }
}

/* ---------------------------- About us Section ------------------------------------- */

.aboutUsSection {
  text-align: center;
  margin-top: 30px;
}

.aboutUsTitle {
  font-size: 48px;
  font-weight: 400;
}

.aboutUsDescription {
  margin-top: 30px;
  font-size: 30px;
}

@media only screen and (max-width: 900px) {
  .aboutUsTitle {
    font-size: 24px;
  }

  .aboutUsDescription {
    font-size: 16px;
  }
}

@media only screen and (max-width: 500px) {
  .aboutUsTitle {
    font-size: 20px;
  }

  .aboutUsDescription {
    font-size: 12px;
  }
}

/* ---------------------------- Meet us us Section ------------------------------------- */

.meetUs {
  margin-top: 80px;
}

.meetUsTitle {
  font-size: 48px;
  font-weight: 400;
  text-align: center;
}

.meetUsParticipantsGrid {
  display: grid;
  grid-template-columns: 300px 1fr;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
  margin-top: 20px;
}

.meetUsParticipantsImage {
  position: relative;
  width: auto;
  height: 300px;
  object-fit: cover;
  margin: auto;
}

.meetUsParticipantsName {
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: 400;
}

.meetUsParticipantsNameDescription {
  font-size: 24px;
}

@media only screen and (max-width: 900px) {
  .meetUsTitle {
    font-size: 24px;
  }

  .meetUsParticipantsGrid {
    grid-template-columns: 200px 1fr;
  }

  .meetUsParticipantsImage {
    height: 200px;
  }

  .meetUsParticipantsName {
    font-size: 18px;
  }

  .meetUsParticipantsNameDescription {
    font-size: 16px;
  }
}

@media only screen and (max-width: 500px) {
  .meetUsTitle {
    font-size: 20px;
  }

  .meetUsParticipantsGrid {
    grid-template-columns: 100px 1fr;
  }

  .meetUsParticipantsImage {
    height: 100px;
  }

  .meetUsParticipantsName {
    font-size: 16px;
  }

  .meetUsParticipantsNameDescription {
    font-size: 12px;
  }
}

/* ---------------------------- Gallery Section ------------------------------------- */

.galleryTitle {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  margin-top: 50px;
}

.galleryGrid {
  display: grid;
  gap: 15px;

  grid-template-areas:
    "a a a a a a a a"
    "b b b b b c c c"
    "d d d e e e e e"
    "f f f f g g g g"
    "h h h h h i i i"
    "j j j j j j j j";

  grid-template-rows: 1400px 1000px 1000px 1000px 1000px 1400px;
}

.galleryImage {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 1300px) {
  .galleryTitle {
    font-size: 24px;
  }

  .galleryGrid {
    gap: 10px;
    grid-template-rows: 900px 600px 600px 600px 600px 900px;
  }
}

@media only screen and (max-width: 900px) {
  .galleryTitle {
    font-size: 24px;
  }

  .galleryGrid {
    gap: 10px;
    grid-template-rows: 800px 400px 400px 400px 400px 800px;
  }
}

@media only screen and (max-width: 500px) {
  .galleryTitle {
    font-size: 20px;
  }

  .galleryGrid {
    gap: 10px;
    grid-template-rows: 500px 250px 250px 250px 250px 500px;
  }
}

/* ---------------------------- Footer Section ------------------------------------- */

.footerSection {
  margin-top: 150px;
}

.lineSeparator {
  width: 95%;
  margin: auto;
  background-color: white;
  height: 2px;
}

.footerGrid {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 24px;
  padding: 50px 50px;
  width: 95%;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

.logoFooterWrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.logoTop {
  position: relative;
  width: 207px;
  height: 189px;
  object-fit: contain;
}

.footerSocialWrapper {
  align-items: center;
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.footerPhone a {
  color: white;
  text-decoration: none;
}

.footerMail a {
  color: white;
}

.authorSection {
  padding: 30px 0px 30px 0px;
  text-align: center;
  font-size: 20px;
}

.portfolioLink a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 1300px) {
  .footerGrid {
    font-size: 20px;
    padding: 30px 30px;
  }
}

@media only screen and (max-width: 900px) {
  .authorSection {
    font-size: 16px;
  }

  .footerGrid {
    grid-template-columns: auto;
    gap: 30px;
    text-align: center;

    justify-content: center;
    align-items: center;
  }

  .logoFooterWrapper {
    justify-content: center;
    align-items: center;
  }

  .footerSocialWrapper {
    justify-content: center;
  }

  .authorSection {
    font-size: 16px;
  }
}
